- var _description = (post ? stripHtml(post.excerpt) : description).replace(/\n/g, '').substring(0, 160)
- var _ogImage = post ? (post.coverImage || `${url}/img/${post.author.image}`) : `${url}/img/ogp.png`
- var _card = (post && !post.coverImage) ? 'summary' : 'summary_large_image'

head(prefix="og: http://ogp.me/ns#")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content= _description)
  if post
    title= `${post.title} - ${title}`
  else if currentPath === '/posts/'
    title= `他の記事も見る - ${title}`
  else
    title= title
  meta(property="og:title", content= post ? post.title : title)
  meta(property="og:type", content= post ? 'article' : 'website')
  meta(property="og:image", content= _ogImage)
  meta(property="og:url", content= `${url}${currentPath}`)
  meta(property="og:description", content= _description)
  meta(property="og:locale", content="ja_JP")
  meta(property="og:site_name", content= title)
  meta(property="twitter:card", content= _card)
  if post && post.author.twitter
    meta(property="twitter:creator", content= `@${post.author.twitter}`)
  link(rel="canonical", href= `${url}${currentPath}`)
  link(rel="alternate", href= urlFor('atom.xml'), type="application/atom+xml")
  link(rel="stylesheet", href= urlFor('/css/ryden.css'))
  if currentPath === '/'
    script(src= urlFor('/js/nojun.js'), defer)
  script.
    if (location.hostname === 'ryden-inc.github.io') {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-12088543-11', 'auto');
      ga('send', 'pageview');
    }
